@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    scroll-behavior: smooth
}

;

body {
    display: flex;
    background-color: #f8f8f9;

}

;

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
}

#header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

;

#logo {
    max-width: 50px;
    height: 50px;
    margin-left: 5px;
    object-fit: contain;
    display: block;
    flex-shrink: 0;
}

#logo img,
img#logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
}

;

.navbar {
    display: flex;
    width: 100%;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.navbar a {
    margin: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #168500d2;
    transform: scale(2.5);
    text-decoration: underline #004225;
}

button#btnComecar {
    width: 170px;
    height: 40px;
    background-color: #004225;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans';
    margin-right: 20px;
    flex-shrink: 0;
}

button#btnComecar:hover {
    background-color: #008037;
    transition: all 0.3s ease;
    transform: scale(1.09);
}

#cifrao {
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    z-index: -1;
}

#imagemPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    object-fit: contain;

    img {
        margin-top: 50px;
        width: 390px;
    }
}

#fraseEfeito {
    font-family: Poppins, sans-serif;
    display: flex;
    font-size: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;

    p {
        font-family: Poppins, sans-serif;
    }

    .destaque {
        font-family: Poppins, sans-serif;
        color: #008037;
    }
}

.descricao {
    justify-self: center;
    display: flex;
    justify-content: center;
    width: 80%;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #555555;
    text-align: center;
    margin-top: 20px;
}

#botoes {
    display: flex;
    gap: 100px;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#btnComecar2 {
    width: 150px;
    height: 60px;
    background-color: #004225;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans';
}

#btnComecar2:hover {
    background-color: #008037;
    transition: all 0.3s ease;
    transform: scale(1.09);
}

#btnSaibaMais {
    width: 150px;
    height: 60px;
    background-color: transparent;
    color: #004225;
    border: 2px solid #004225;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Open Sans';
}

#btnSaibaMais:hover {
    background-color: rgba(0, 66, 37, 0.1);
    transition: all 0.3s ease;
    transform: scale(1.09);
}

#boxes {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 210px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 15px;
    justify-content: space-around;
    text-align: center;

    img {
        align-self: center;
        top: 0;
        max-height: 100px;
        width: 300px;
        object-fit: contain;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #024002;
        font-weight: 700;
        text-align: center;
        margin: 0 10px;
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #555555;
        text-align: center;
        margin: 0 10px;
    }
}

#sobre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#inicio {
    position: relative;
    width: 100%;
    box-shadow: 0 0.4px 60px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 110px;
}

#tituloSobre {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004225;
    margin-top: 20px;

    span {
        color: #ffb103;
        font-family: Poppins, sans-serif;
    }
}

#descricaoSobre {
    font-family: Poppins, sans-serif;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 20px;
    width: 74%;
    font-size: 22px;
    margin-bottom: 29px;
}

#sobre {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    height: auto;
}

#pqSmart {
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

}

.boxesSmart {
    display: flex;
    width: 100%;
    height: 340px;
    align-items: center;
    justify-content: space-around;
}

.boxSmart {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 210px;
    background-color: #ffffff;
    box-shadow: 0 20px 10px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 10px;
    justify-content: space-around;
    text-align: center;



    img {
        align-self: center;
        top: 0;
        max-height: 100px;
        width: 100px;
        object-fit: contain;

    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #024002;
        font-weight: 700;
        text-align: center;
        margin: 0 10px;
    }

    span {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #555555;
        text-align: center;
        margin: 0 10px;
    }
}

#olho {
    height: 70px;
    min-width: 100px;
}

#historia {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 20px 0 40px 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        z-index: 0;
    }

    #tituloHistoria,
    #descricaoHistoria {
        position: relative;
        z-index: 3;
    }
}

#tituloHistoria {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #004225;
    margin-bottom: 20px;
}

#descricaoHistoria {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    width: 70%;
    color: #004225;
    line-height: 1.5;
    margin: 0 auto;
    font-weight: 400;
}

#descricaoHistoria * {
    font-family: 'Poppins', sans-serif !important;
}

#historia #descricaoHistoria {
    font-family: 'Poppins', sans-serif !important;
}

#segmentos {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #004225;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    p {
        font-family: 'Poppins', sans-serif !important;
        font-weight: 700;
    }

    span {
        color: #ffb103;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 700;
    }
}

#segmentos p#textoSegmentos {
    font-family: 'Poppins', sans-serif !important;
    font-size: 22px;
    color: #004225;
    text-align: center;
    width: 70%;
    margin: 20px auto 40px auto;
    font-weight: 300 !important;
}

#textoSegmentos.texto {
    font-weight: 300 !important;
}

#textoSegmentos {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #004225;
    text-align: center;
    width: 70%;
    margin: 20px auto 40px auto;
    font-weight: 300 !important;
}

.boxesSegmentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.boxSegmento {
    border-top: 10px solid #004225;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    height: 180px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

#boxConservador {
    border-top: 10px solid #2b61e2;
}

#boxModerado {
    border-top: 10px solid #435164;
}

#boxArrojado {
    border-top: 10px solid #cb2625;
}

#boxInstitucional {
    border-top: 10px solid #8e39e1;
}

.superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
    gap: 10px;
    margin-bottom: 15px;

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #004225;
        font-weight: 600;
        margin: 0;
    }
}

.icone {
    width: 90px;
    object-fit: contain;
}

.tituloSegmento {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #004225;
    font-weight: 700;
    margin: 0;
}

.textoSegmentos {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #555555;
    text-align: left;
    margin: 0;
    font-weight: 500 !important;
}

.inferior {
    border-top: 1px solid #000000;
    padding-top: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.subTitulo {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: #555555;
    text-align: left;
    margin: 0;
    font-weight: 500 !important;
}

#solucao {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;  
    z-index: 1;         
}

#tituloSolucao {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #004225;
    margin-top: 20px;

    span {
        color: #ffb103;
        font-family: Poppins, sans-serif;
    }
}

#textoSolucao {
    font-family: 'Poppins', sans-serif !important;
    font-size: 22px;
    width: 70%;
    color: #004225;
    line-height: 1.5;
    margin: 40px auto 40px auto;
    font-weight: 400;
}

.fraseSolucao {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #004225;

    h1 {
        text-align: start;
    }


    img {
        width: 50px;
        margin-left: 10px;
        object-fit: contain;
    }
}

#conteudoSolucao {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

#oferecemos {
    width: 45%;
    padding: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    h1 {
        text-align: start;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #004225;
        margin-bottom: 20px;
    }
}

.fraseSolucao {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 490;
}

#boxesSolucao {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: auto;

}

#btnComecar3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 55px;
    background-color: #004225;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-left: 50px;
    align-self: flex-start;
}

#btnComecar3:hover {
    background-color: #027433;
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.boxSolucao {
    font-family: 'Poppins', sans-serif !important;
    border: #004225 1px solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 160px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px 15px 0 15px;
    gap: 20px;
    text-align: center;
    box-sizing: border-box;
    text-align: center;

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #004225;
        font-weight: 700;
        margin: 0 10px 40px;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #555555;
        text-align: start;
        margin: 0 10px;
        align-self: center;
        text-align: center;
    }
}

.iconeSolucao {
    width: 100px;
    height: 100px;
    object-fit: contain;
    align-self: center;
    justify-self: center;
    padding-bottom: 10px;
}

#interrogacao {
    position: absolute;
    width: 800px;
    height: 800px;
    object-fit: contain;
    opacity: 0.1;
    z-index: -1;
    left: -300px;
}

#funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    z-index: 0;                                 
}
